
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100&subset=latin,cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);


body {

}
li {
  list-style-type: none; /* Убираем маркеры */
}

ul {
  padding: 0; /* Убираем поля */
  margin-left: 10px; /* Отступ слева */
  margin-top: 10px;
}
#photo>img{
  height: 200px;
  margin: 10px;
  border: 5px solid #b5dde5;
}
#photo>img:hover{
  height: 204px;
  margin: 6px;
  border: 5px solid #6586e5;
}

#fold,#mainfold{
  width: 100px;
  border: 3px #b5dde5 solid;
  height:20px;margin-top: 10px;
  font-size:8pt;
  border-radius:6px;
}
#fold:hover,#mainfold:hover{
  border: 3px #6586e5 solid;
}
.rename{
  width: 100px;
}
#image,#folder{
  border: 1px solid orange;
  height: 500px;
  margin: 1%;
  overflow: auto;
  }

#search,#auth{
  background-color: #66c4ff;
  height: 50px;
  margin: 1%;
  padding: 1%;
}

/* Класс контекстного меню: */
.context-menu {
  position: absolute; /* Задаем абсолютное позиционирование для нашего меню */
  display: none; /* Изначально не показываем его */
  background-color: #fff; /* Цвет фона меню */
  border: 1px solid grey; /* Граница */

  /* Немного красивостей. Добавляем тень для нашего меню, что бы отобразить его слегка выше остальных элементов страницы: */
  box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Параметры тени */
}

/* Добавляем стили для списка которые будет находиться внутри меню и, собственно, содержать его пункты: */
.context-menu ul { list-style: none; margin: 0; padding: 0; }

.context-menu ul li { margin: 0; padding: 0; background-color: #fff;}

/* Стили для ссылок пунктов меню: */
.context-menu ul li a { color: #333;font-size: 12px; padding: 5px; }

.context-menu ul li a:hover { background-color: #eee; }
.selected-html-element {
  background: orange;
}
.btn-file
{ position: relative; overflow: hidden;}
.btn-file input
{ position: absolute; top: 0; right: 0; margin: 0; opacity: 0;filter: alpha(opacity=0);
 transform: translate(-300px, 0) scale(4); font-size: 23px;direction: ltr; cursor: pointer; }
